*
{
    box-sizing: border-box;
}

.bg-merah
{
    background-color: crimson;
    border: 0;
}

.bg-biru
{
    background-color: darkblue;
    border: 0;
}

.bg-orange-gelap
{
    background-color: darkorange;
    border: 0;
}

.teks-putih
{
    color: white;
}

.content
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.biodata-kiri
{
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    width: 90%;
    margin: 10px auto;
}

.biodata-nama
{
    font-weight: bold;
}

.biodata-level
{
    font-size: 12px;
}


.biodata-level, .biodata-kondisi
{
    display: inline-block;
}
